# Load packages

In [1]:
import numpy as np
import pandas as pd

# Load data

In [2]:
spread_df=[]
years_list = [18,17,16,15,14,13,12,11,10,'09','08','07','06','05','04','03']
year_int = 2019
for year in years_list:
    #Note: 18 refers to 2019 and so on
    temp_spread_df = pd.read_csv("Data/Point spreads/ncaabb" + str(year) + ".csv")
    temp_spread_df['Season'] = year_int
    year_last = year
    year_int = year_int-1    
    if year==18:
        spread_df = temp_spread_df
    else:
        spread_df = spread_df.append(temp_spread_df)

C:\Users\dlorenz\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [3]:
spread_df['home'] = spread_df['home'].str.lower()
spread_df['road'] = spread_df['road'].str.lower()

In [4]:
spread_df.head()

,Season,date,home,hscore,line,line7ot,lineargh,lineash,lineashby,lineavg,...,linesaggm,linesagp,linesauce,lineseven,linetalis,lineteamrnks,neutral,road,rscore,std
0,2019,11/6/2018,arizona st.,102,12.5,11.0,NaN,NaN,NaN,12.88,...,12.38,12.38,NaN,NaN,16.7,14.3,0.0,cal st. fullerton,94,2.32
1,2019,11/6/2018,auburn,101,20.5,17.0,NaN,NaN,NaN,19.70,...,18.22,18.22,NaN,NaN,21.4,16.0,0.0,south alabama,58,2.63
2,2019,11/6/2018,ball st.,86,7,2.0,NaN,NaN,NaN,4.65,...,2.22,2.22,NaN,NaN,3.1,7.1,0.0,indiana st.,69,3.42
3,2019,11/6/2018,boston college,73,16,7.0,NaN,NaN,NaN,15.76,...,15.91,15.91,NaN,NaN,16.8,15.8,0.0,wisconsin-milwaukee,53,3.53
4,2019,11/6/2018,buffalo,82,15.5,11.0,NaN,NaN,NaN,14.47,...,11.41,11.41,NaN,NaN,14.4,14.3,0.0,st. francis (pa),67,4.90

# Match Team IDs to data

In [5]:
teams_df = pd.read_csv('Data/Kaggle NCAA/TeamSpellings.csv', sep='\,', engine='python')

In [6]:
teams_df.head()

     TeamNameSpelling  TeamID
0    a&m-corpus chris    1394
1  a&m-corpus christi    1394
2         abilene chr    1101
3   abilene christian    1101
4   abilene-christian    1101

In [7]:
team_list = ['home','road']
for team in team_list:
    spread_df = pd.merge(spread_df, teams_df, left_on=[team], right_on = ['TeamNameSpelling'], how='left')
    if team=='home':
        spread_df.rename(columns={'TeamID': 'HTeamID'}, inplace=True)
    if team=='road':
        spread_df.rename(columns={'TeamID': 'RTeamID'}, inplace=True)
    spread_df = spread_df.drop(['TeamNameSpelling'], axis=1)

Note: change to home and road team and score

In [8]:
spread_df.loc[spread_df['hscore']>spread_df['rscore'], 'WTeamID'] = spread_df['HTeamID']
spread_df.loc[spread_df['hscore']<spread_df['rscore'], 'LTeamID'] = spread_df['HTeamID']

spread_df.loc[spread_df['hscore']>spread_df['rscore'], 'WScore'] = spread_df['hscore']
spread_df.loc[spread_df['hscore']<spread_df['rscore'], 'LScore'] = spread_df['hscore']

In [9]:
spread_df.loc[spread_df['rscore']>spread_df['hscore'], 'WTeamID'] = spread_df['RTeamID']
spread_df.loc[spread_df['rscore']<spread_df['hscore'], 'LTeamID'] = spread_df['RTeamID']

spread_df.loc[spread_df['rscore']>spread_df['hscore'], 'WScore'] = spread_df['rscore']
spread_df.loc[spread_df['rscore']<spread_df['hscore'], 'LScore'] = spread_df['rscore']

In [10]:
spread_df.replace([np.inf, -np.inf], np.nan).dropna(subset=['WTeamID','LTeamID','WScore','LScore','line'])
spread_df = spread_df[spread_df['WScore'] != "."]
spread_df = spread_df[spread_df['LScore'] != "."]
spread_df = spread_df[spread_df['line'] != "."]

In [11]:
spread_df['line'].value_counts(dropna=False)

3.0       1575
5.0       1552
3.5       1548
2.5       1531
4.0       1521
4.5       1521
5.5       1519
6.0       1457
2.0       1456
6.5       1425
7.5       1403
7.0       1388
8.0       1310
8.5       1235
9.0       1152
1.5       1145
-2.0      1110
1.0       1058
9.5       1034
-2.5      1016
10.0       994
-1.5       981
-1.0       978
-3.0       969
10.5       909
0.0        880
11.0       873
-3.5       825
11.5       798
-4.0       790
          ...
-72.5        1
-67.5        1
-74.0        1
34.0         1
40.5         1
29.5         1
-79.5        1
-77.0        1
-28.5        1
-25.5        1
-146.0       1
-75.5        1
-66.0        1
-24.5        1
-64.5        1
-60.0        1
-70.0        1
-34.0        1
46.0         1
33.5         1
42.5         1
40.5         1
39.5         1
-25.0        1
-66.0        1
15.54        1
26.5         1
-69.0        1
-23.0        1
-20.0        1
Name: line, Length: 268, dtype: int64

In [12]:
#drop spreads with bad coverage
spread_df = spread_df.drop(['line7ot','lineargh','lineash','lineashby','linedd','linedunk','lineer','linegreen','linemarkov','linemass','linepib','linepig','linepir','linepiw','linepom','lineprophet','linerpi','lineround','linesauce','lineseven','neutral','lineteamrnks','linetalis','lineespn','linemassey','linedonc','linesaggm','std','linepugh','linefox','linedok','lineopen'], axis=1)

In [13]:
spread_df.tail()

,Season,date,home,hscore,line,lineavg,linemoore,linesag,linesage,linesagp,road,rscore,HTeamID,RTeamID,WTeamID,LTeamID,WScore,LScore
58803,2004,03/30/2004,iowa st.,81,2.0,1.22,1.61,1.50,1.25,1.74,rutgers,84,1235.0,1353.0,1353.0,1235.0,84,81
58804,2004,04/01/2004,michigan,62,5.5,2.06,4.47,1.51,0.46,2.44,rutgers,55,1276.0,1353.0,1276.0,1353.0,62,55
58805,2004,04/03/2004,duke,78,-2.0,2.85,1.43,2.85,2.24,3.94,connecticut,79,1181.0,1163.0,1163.0,1181.0,79,78
58806,2004,04/03/2004,oklahoma st.,67,4.5,2.05,3.08,1.99,3.58,0.52,georgia tech,67,1329.0,1210.0,NaN,NaN,NaN,NaN
58807,2004,04/05/2004,connecticut,82,5.0,1.65,4.57,1.12,1.31,0.91,georgia tech,73,1163.0,1210.0,1163.0,1210.0,82,73

In [14]:
spread_df.dropna(subset=['line'])

,Season,date,home,hscore,line,lineavg,linemoore,linesag,linesage,linesagp,road,rscore,HTeamID,RTeamID,WTeamID,LTeamID,WScore,LScore
0,2019,11/6/2018,arizona st.,102,12.5,12.88,7.91,12.38,12.38,12.38,cal st. fullerton,94,1113.0,1168.0,1113.0,1168.0,102,94
1,2019,11/6/2018,auburn,101,20.5,19.70,20.73,18.22,18.22,18.22,south alabama,58,1120.0,1375.0,1120.0,1375.0,101,58
2,2019,11/6/2018,ball st.,86,7,4.65,11.15,2.22,2.22,2.22,indiana st.,69,1123.0,1232.0,1123.0,1232.0,86,69
3,2019,11/6/2018,boston college,73,16,15.76,26.57,15.91,15.91,15.91,wisconsin-milwaukee,53,1130.0,1454.0,1130.0,1454.0,73,53
4,2019,11/6/2018,buffalo,82,15.5,14.47,10.59,11.41,11.41,11.41,st. francis (pa),67,1138.0,1384.0,1138.0,1384.0,82,67
5,2019,11/6/2018,cs northridge,84,-14.5,-14.17,-17.93,-13.70,-13.70,-13.70,new mexico,87,1169.0,1307.0,1307.0,1169.0,87,84
6,2019,11/6/2018,central florida,74,7,8.87,0.49,15.46,15.46,15.46,rider,70,1416.0,1351.0,1416.0,1351.0,74,70
7,2019,11/6/2018,clemson,100,27.5,26.87,29.82,24.10,24.10,24.10,citadel,80,1155.0,1154.0,1155.0,1154.0,100,80
9,2019,11/6/2018,davidson,83,18.5,19.62,28.61,16.83,16.83,16.83,cleveland st.,63,1172.0,1156.0,1172.0,1156.0,83,63
11,2019,11/6/2018,george mason,71,5,0.08,-2.01,5.20,5.20,5.20,pennsylvania,72,1206.0,1335.0,1335.0,1206.0,72,71
12,2019,11/6/2018,georgia st.,74,7,5.49,18,3.44,3.44,3.44,east tennessee st.,68,1209.0,1190.0,1209.0,1190.0,74,68
13,2019,11/6/2018,gonzaga,120,29.5,26.54,27.94,27.22,27.22,27.22,idaho st.,79,1211.0,1226.0,1211.0,1226.0,120,79
14,2019,11/6/2018,kansas,92,4.5,1.23,-1.34,-0.05,-0.05,-0.05,michigan st.,87,1242.0,1277.0,1242.0,1277.0,92,87
16,2019,11/6/2018,manhattan,56,-1,3.00,-0.89,1.57,1.57,1.57,elon,62,1264.0,1189.0,1189.0,1264.0,62,56
17,2019,11/6/2018,maryland,73,19.5,19.72,20.82,19.00,19.00,19.00,delaware,67,1268.0,1174.0,1268.0,1174.0,73,67
18,2019,11/6/2018,memphis,76,16,12.88,13.79,14.44,14.44,14.44,tennessee tech,61,1272.0,1399.0,1272.0,1399.0,76,61
19,2019,11/6/2018,minnesota,104,14.5,16.56,20.31,18.40,18.40,18.40,nebraska omaha,76,1278.0,1303.0,1278.0,1303.0,104,76
20,2019,11/6/2018,montana st.,71,-4,-4.18,-4.31,-1.61,-1.61,-1.61,utah st.,101,1286.0,1429.0,1429.0,1286.0,101,71
21,2019,11/6/2018,nc charlotte,69,4.5,2.78,16.04,1.31,1.31,1.31,chattanooga,80,1150.0,1151.0,1151.0,1150.0,80,69
23,2019,11/6/2018,notre dame,84,13,15.72,12.55,17.20,17.20,17.20,illinois-chicago,67,1323.0,1227.0,1323.0,1227.0,84,67
24,2019,11/6/2018,oregon,84,23.5,17.46,13.15,21.90,21.90,21.90,portland st.,57,1332.0,1340.0,1332.0,1340.0,84,57
25,2019,11/6/2018,oregon st.,72,18.5,16.58,24.22,13.51,13.51,13.51,cal riverside,59,1333.0,1415.0,1333.0,1415.0,72,59
26,2019,11/6/2018,pittsburgh,69,13.5,13.18,19.31,14.20,14.20,14.20,youngstown st.,53,1338.0,1464.0,1338.0,1464.0,69,53
28,2019,11/6/2018,purdue,90,20,23.07,17.75,22.82,22.82,22.82,fairfield,57,1345.0,1193.0,1345.0,1193.0,90,57
29,2019,11/6/2018,siu edwardsville,65,-7.5,-5.82,-1.09,-8.22,-8.22,-8.22,pacific,74,1188.0,1334.0,1334.0,1188.0,74,65
30,2019,11/6/2018,sw missouri st.,84,7,9.89,11.47,7.58,7.58,7.58,oral roberts,50,1283.0,1331.0,1283.0,1331.0,84,50
31,2019,11/6/2018,saint louis,75,20.5,15.06,27.68,16.91,16.91,16.91,se missouri st.,65,1387.0,1369.0,1387.0,1369.0,75,65
32,2019,11/6/2018,san diego,83,5,4.69,5.64,3.97,3.97,3.97,weber st.,66,1360.0,1451.0,1360.0,1451.0,83,66
33,2019,11/6/2018,syracuse,66,17.5,17.23,21.52,19.74,19.74,19.74,eastern washington,34,1393.0,1186.0,1393.0,1186.0,66,34
34,2019,11/6/2018,temple,75,8,9.14,7.69,10.47,10.47,10.47,la salle,67,1396.0,1247.0,1396.0,1247.0,75,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58778,2004,03/21/2004,mississippi st.,74,4.0,4.88,2.23,5.62,7.55,4.26,xavier,89,1280.0,1462.0,1462.0,1280.0,89,74
58779,2004,03/22/2004,hawaii,84,3.0,1.15,-0.77,2.51,4.11,0.47,nebraska,83,1218.0,1304.0,1218.0,1304.0,84,83
58780,2004,03/22/2004,michigan,63,4.0,2.99,4.51,2.51,1.83,3.11,oklahoma,52,1276.0,1328.0,1276.0,1328.0,63,52
58781,2004,03/22/2004,notre dame,77,5.5,6.52,12.87,5.67,5.58,5.77,saint louis,66,1323.0,1387.0,1323.0,1387.0,77,66
58782,2004,03/22/2004,rutgers,67,5.5,5.09,5.34,4.96,3.90,5.82,west virginia,64,1353.0,1452.0,1353.0,1452.0,67,64
58783,2004,03/23/2004,marquette,66,3.5,0.37,2.74,0.97,2.12,-0.11,boise st.,53,1266.0,1129.0,1266.0,1129.0,66,53
58784,2004,03/23/2004,oregon,68,8.5,5.42,8.00,5.30,4.22,6.36,george mason,54,1332.0,1206.0,1332.0,1206.0,68,54
58785,2004,03/23/2004,florida st.,59,8.5,8.78,8.62,8.15,6.99,9.46,iowa st.,62,1199.0,1235.0,1235.0,1199.0,62,59
58786,2004,03/24/2004,michigan,88,8.5,6.21,10.64,5.43,5.65,5.22,hawaii,73,1276.0,1218.0,1276.0,1218.0,88,73
58787,2004,03/24/2004,rutgers,72,1.5,2.31,1.87,2.53,3.85,1.32,villanova,60,1353.0,1437.0,1353.0,1437.0,72,60
58788,2004,03/25/2004,syracuse,71,2.0,1.17,0.73,0.52,3.49,-1.36,alabama,80,1393.0,1104.0,1104.0,1393.0,80,71
58789,2004,03/25/2004,iowa st.,77,6.5,6.62,6.78,6.61,6.14,7.03,marquette,69,1235.0,1266.0,1235.0,1266.0,77,69
58790,2004,03/25/2004,notre dame,61,6.0,7.15,10.89,6.39,7.93,4.99,oregon,65,1323.0,1332.0,1332.0,1323.0,65,61
58791,2004,03/25/2004,oklahoma st.,63,3.0,0.67,1.20,1.59,-0.62,2.87,pittsburgh,51,1329.0,1338.0,1329.0,1338.0,63,51
58792,2004,03/25/2004,connecticut,73,9.0,4.97,6.25,4.79,4.73,4.86,vanderbilt,53,1163.0,1435.0,1163.0,1435.0,73,53
58793,2004,03/25/2004,st. joseph's pa,84,3.0,4.38,1.78,4.52,6.53,2.98,wake forest,80,1386.0,1448.0,1386.0,1448.0,84,80
58794,2004,03/26/2004,duke,72,7.0,6.62,5.55,6.06,4.67,8.39,illinois,62,1181.0,1228.0,1181.0,1228.0,72,62
58795,2004,03/26/2004,georgia tech,72,4.0,3.45,2.50,4.12,4.20,4.05,nevada,67,1210.0,1305.0,1210.0,1305.0,72,67
58796,2004,03/26/2004,kansas,100,4.5,3.78,5.71,2.98,2.37,3.59,uab,74,1242.0,1412.0,1412.0,1242.0,74,100
58797,2004,03/26/2004,texas,71,3.0,2.49,-1.36,4.50,4.16,4.86,xavier,79,1400.0,1462.0,1462.0,1400.0,79,71
58798,2004,03/27/2004,connecticut,87,9.0,6.70,7.36,6.24,5.45,7.09,alabama,71,1163.0,1104.0,1163.0,1104.0,87,71
58799,2004,03/27/2004,st. joseph's pa,62,-3.5,-0.10,-3.95,1.16,2.73,0.33,oklahoma st.,64,1386.0,1329.0,1329.0,1386.0,64,62
58800,2004,03/28/2004,georgia tech,79,-5.0,1.93,-2.36,2.95,2.65,3.35,kansas,71,1210.0,1242.0,1210.0,1242.0,79,71
58801,2004,03/28/2004,duke,66,7.5,8.53,6.63,9.07,7.60,11.31,xavier,63,1181.0,1462.0,1181.0,1462.0,66,63
58802,2004,03/30/2004,michigan,78,2.0,1.46,3.03,0.71,1.10,0.30,oregon,53,1276.0,1332.0,1276.0,1332.0,78,53
58803,2004,03/30/2004,iowa st.,81,2.0,1.22,1.61,1.50,1.25,1.74,rutgers,84,1235.0,1353.0,1353.0,1235.0,84,81
58804,2004,04/01/2004,michigan,62,5.5,2.06,4.47,1.51,0.46,2.44,rutgers,55,1276.0,1353.0,1276.0,1353.0,62,55
58805,2004,04/03/2004,duke,78,-2.0,2.85,1.43,2.85,2.24,3.94,connecticut,79,1181.0,1163.0,1163.0,1181.0,79,78
58806,2004,04/03/2004,oklahoma st.,67,4.5,2.05,3.08,1.99,3.58,0.52,georgia tech,67,1329.0,1210.0,NaN,NaN,NaN,NaN
58807,2004,04/05/2004,connecticut,82,5.0,1.65,4.57,1.12,1.31,0.91,georgia tech,73,1163.0,1210.0,1163.0,1210.0,82,73

# Write the data to a csv

In [15]:
spread_df.to_csv('Data/~Created data/spreads_all.csv', index=False)